@import "tailwindcss";

:root {
  --background: #28254f;
  --foreground: #171717;
  /* TODO: Improve naming */
  --linear-gradient: linear-gradient(#E65895, #BC6BE8);
  --dark-blue: #393F6E;
  --blue: #343964;
  --light-blue: #3E9FFF;
  --orange: #DD524C;
  --grey: #8B8EAB;
  --yellow: #FFECC8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  background: repeating-linear-gradient(106deg, #28254f 0% 12%, #2b2852 12% 28%);

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
